
.wrapper {
    width: 300px;
    margin: 0 auto;
}

.button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: all .3s linear;
    cursor: pointer;
    margin-left: 10px;
}

.submitButton {
    background-color: #55aed1;
    color: white;
}

.submitButton:hover {
background-color: #4fa0c0;
}

.deleteButton {
    background-color: #d15555;
    color: white;
}

.deleteButton:hover {
    background-color: #c04f4f;
}
  
.actions {
    text-align: center;
}

.actions .button {
    margin-left: 10px;
}

.actions .button:first {
    margin-left: 0;
}

.backLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav {
    text-align: end;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 10px;
    padding: 5px 0; 
}